# Dependencies
node_modules/
dist/

# VitePress specific
docs/.vitepress/dist
docs/.vitepress/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env
*.local
